.description {
	display: flex;
	margin: 150px 0;
}

.description_left {
	width: 50%;
}

.description_right {
	width: 50%;
}

.description_img {
	height: auto;
	width: 60%;
}

.description_right {
	text-align: left;
	padding-right: 5%;
}

.description_title {
	font-family: Roboto;
	font-weight: bold;
	font-size: 48px;
	color: #212121;
	margin-bottom: 80px;
}

.description_subtitle {
	font-family: Roboto;
	font-weight: bold;
	font-size: 32px;
	color: #000000;
}

.description_text {
	font-family: Roboto;
	font-weight: normal;
	font-size: 24px;
	color: #000000;
}

@media only screen and (max-width: 600px) {

  .description {
  	margin-top: 50px;
  	margin-bottom: 50px;
  }

  .description_title {
  	font-size: 30px;
  	margin-top: 0;
  	margin-bottom: 25px;
  }

  .description_img {
	height: auto;
	width: 90%;
  }

  .description_subtitle {
	margin: 0;
	font-size: 20px;
  }

  .description_text
  {
  	font-size: 15px;
  }

}