.description {
	display: flex;
	margin: 150px 0;
}

.description_left {
	width: 50%;
	margin-right: -9%;
}

.description_right {
	width: 45%;
	padding-right: 5%;
	text-align: left;
}

.description_img {
	width: 60%;
}


.description_title {
	font-family: Roboto;
	font-weight: bold;
	font-size: 48px;
	color: #212121;
	margin-bottom: 80px;
}

.description_subtitle {
	font-family: Roboto;
	font-weight: bold;
	font-size: 32px;
	color: #000000;
}

.description_text {
	font-family: Roboto;
	font-weight: normal;
	font-size: 24px;
	color: #000000;
}

@media only screen and (max-width: 1280px) {

	.description_title {
		font-family: Roboto;
		font-weight: bold;
		font-size: 40px;
		color: #212121;
		margin-bottom: 40px;
	}

	.description_subtitle {
		font-family: Roboto;
		font-weight: bold;
		font-size: 30px;
		color: #000000;
	}

	.description_text {
		font-family: Roboto;
		font-weight: normal;
		font-size: 22px;
		color: #000000;
	}



}


@media only screen and (max-width: 1064px) {

	.description {
		margin-top: 200px;
		margin-bottom: 50px;
	}

	.description_title {
		font-size: 35px;
		margin-bottom: 25px;
		margin-top: 5px;
	}

	.description_img {
		height: auto;
		width: 90%;
	}

	.description_subtitle {
		font-size: 25px;
	}

	.description_text
	{
		font-size: 18px;
	}

}

@media only screen and (max-width: 768px) {

	.description {
		margin-top: 110px;
		margin-bottom: 50px;
	}

	.description_title {
		font-size: 30px;
		margin-bottom: 25px;
		margin-top: 42px;
	}

	.description_img {
		height: auto;
		width: 90%;
	}

	.description_subtitle {
		font-size: 20px;
	}

	.description_text
	{
		font-size: 15.5px;
	}

}

@media only screen and (max-width: 600px) {

	.description {
		margin-top: 0;
		margin-bottom: 50px;
	}

	.description_title {
		font-size: 18px;
		margin-top: 0;
		margin-bottom: 10px;
	}

	.description_img {
		height: auto;
		width: 90%;
	}

	.description_subtitle {
		margin: 0;
		font-size: 18px;
	}

	.description_text
	{
		margin-top: 10px;
		font-size: 12.4px;
	}

}

@media only screen and (max-width: 427px) {

	.description {
		margin-top: 0;
		margin-bottom: 50px;
	}

	.description_title {
		font-size: 18px;
		margin-top: 0;
		margin-bottom: 10px;
	}

	.description_img {
		height: auto;
		width: 90%;
	}

	.description_subtitle {
		margin: 0;
		font-size: 16px;
	}

	.description_text
	{
		margin-top: 10px;
		font-size: 12.4px;
	}

}

@media only screen and (max-width: 412px) {

	.description {
		margin-top: 0;
		margin-bottom: 50px;
	}

	.description_title {
		font-size: 17.8px;
		margin-top: 0;
		margin-bottom: 10px;
	}

	.description_img {
		height: auto;
		width: 90%;
	}

	.description_subtitle {
		margin: 0;
		font-size: 15px;
	}

	.description_text
	{
		margin-top: 10px;
		font-size: 12.15px;
	}

}

@media only screen and (max-width: 402px) {

	.description {
		margin-top: 0;
		margin-bottom: 50px;
	}

	.description_title {
		font-size: 16px;
		margin-top: 0;
		margin-bottom: 10px;
	}

	.description_img {
		height: auto;
		width: 90%;
	}

	.description_subtitle {
		margin: 0;
		font-size: 14px;
	}

	.description_text
	{
		margin-top: 10px;
		font-size: 11.2px;
	}

}

@media only screen and (max-width: 360px) {

	.description {
		margin-top: 0;
		margin-bottom: 50px;
	}

	.description_title {
		font-size: 17px;
		margin-top: 0;
		margin-bottom: 10px;
	}

	.description_img {
		height: auto;
		width: 90%;
	}

	.description_subtitle {
		margin: 0;
		font-size: 15px;
	}

	.description_text
	{
		margin-top: 10px;
		font-size: 10.4px;
		font-weight: 599;
	}

}

@media only screen and (max-width: 359px) {

	.description {
		margin-top: 0;
		margin-bottom: 50px;
	}

	.description_title {
		font-size: 13px;
		margin-top: 0;
		margin-bottom: 10px;
	}

	.description_img {
		height: auto;
		width: 90%;
	}

	.description_subtitle {
		margin: 0;
		font-size: 10px;
	}

	.description_text
	{
		margin-top: 10px;
		font-size: 9.8px;
	}

}