.value {
	padding-right: 5%;
	padding-left: 5%;
	text-align: left;
}

.value_title {
	font-family: Roboto;
	font-weight: bold;
	line-height: 90px;
	font-size: 96px;
	color: #000000;
	width: 50%;
}

.value_divs {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.value_div {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 30%;
	height: 140px;
	padding: 0 10px;
	margin-bottom: 40px;
	background: #FFFFFF;
	box-shadow: 5px 5px 20px rgba(6, 6, 6, 0.25);
	border-radius: 6px;
}

.value_text {
	display: flex;
	height: 100%;
	align-items: center;
	font-family: Roboto;
	font-weight: bold;
	line-height: 22px;
	font-size: 18px;
	color: #000000;
}

.value_icon {
	position: absolute;
	top: -25px;
	width: 50px;
	height: 50px;
}

@media screen and (max-width: 1280px) {

	.value_title {
		font-size: 60px;
		line-height: 66px;
	}

	.value_icon {
		width: 45px;
		height: 45px;
	}

	.value_text {
		font-size: 17px;
		line-height: 20px;
		margin: 30px 5px;
		overflow-wrap: break-word;
	}
}

@media screen and (max-width: 1064px) {

	.value_title {
		font-size: 55px;
		line-height: 58px;
	}

	.value_divs {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.value_div {
		height: auto;
	}

	.value_text {
		font-size: 18px;
		line-height: 22px;
	}
}


@media screen and (max-width: 768px) {

	.value_divs {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.value_title {
		font-size: 50px;
		line-height: 50px;
	}

	.value_div {
		width: 47%;
		height: auto;
	}

	.value_icon {
		width: 45px;
		height: 45px;
	}
	
	.value_text {
		font-size: 18px;
		line-height: 22px;
	}
}

@media screen and (max-width: 600px) {

	.value_divs {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.value_title {
		font-size: 40px;
		line-height: 44px;
	}

	.value_div {
		width: 47%;
		height: auto;
	}

	.value_icon {
		width: 45px;
		height: 45px;
	}
	
	.value_text {
		font-size: 17px;
		line-height: 18px;
	}
}

@media screen and (max-width: 414px) {

	.value_divs {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.value_title {
		font-size: 40px;
		line-height: 44px;
	}

	.value_div {
		width: 47%;
		height: auto;
	}

	.value_icon {
		width: 45px;
		height: 45px;
	}
	
	.value_text {
		font-size: 16px;
		line-height: 18px;
	}

}

@media screen and (max-width: 412px) {

	.value_divs {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.value_title {
		font-size: 38px;
		line-height: 40px;
	}

	.value_div {
		width: 47%;
		height: auto;
	}

	.value_icon {
		width: 42px;
		height: 42px;
	}
	
	.value_text {
		font-size: 17px;
		line-height: 18px;
	}

}

@media screen and (max-width: 375px) {

	.value_divs {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 40px;
	}

	.value_title {
		font-size: 38px;
		line-height: 40px;
	}

	.value_div {
		width: 46%;
		height: auto;
	}

	.value_icon {
		width: 40px;
		height: 40px;
	}
	
	.value_text {
		font-size: 14px;
		line-height: 18px;
	}

}

@media screen and (max-width: 360px) {

	.value_divs {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 40px;
	}

	.value_title {
		font-size: 30px;
		line-height: 37px;
	}

	.value_div {
		width: 50%;
		height: auto;
	}

	.value_icon {
		width: 40px;
		height: 40px;
	}
	
	.value_text {
		font-size: 13px;
		line-height: 18px;
	}

}

@media screen and (max-width: 359px) {
	
	.value_divs {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 30px;
	}

	.value_title {
		font-size: 31px;
		line-height: 34px;
	}

	.value_div {
		width: 45%;
		height: auto;
	}

	.value_icon {
		width: 35px;
		height: 35px;
	}
	
	.value_text {
		font-size: 12px;
		line-height: 17px;
	}

}